<div class="container">
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card dash-card">
                <h3>Total Views</h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card dash-card">
                <h3>Audience</h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card dash-card">
                <h3>Popular uploads</h3>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h3>My Uploads</h3>
            <table class="table">
                <thead>
                    <tr class="table-info">
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Uploaded On</th>
                        <th scope="col">Views</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Dislikes</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>image</td>
                        <td>My Video</td>
                        <td>26 Feb 2020</td>
                        <td>2K</td>
                        <td>50</td>
                        <td>3</td>
                        <td><button class="btn btn-sm btn-info mr-1">Edit</button><button class="btn btn-sm btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>