.dash-card{
    width:100%;
    height: 30vh;
    border-radius: 0.5em;
    padding: 1em;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.dash-card h3{
    color: gray;
}