<div class="container-fluid" *ngIf="isValid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="video-pane">
                <video class="video-player" controls autoplay>
                    <source src="{{thisVideo.stream}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="video-meta mt-2">
                    <h4>{{thisVideo.title}}</h4>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 col-xl-8">
                            <div class="views-date">
                                <p>{{thisVideo.views}} Views | {{thisVideo.date}}</p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="like-share">
                                <p><button class="btn btn-primary">Like</button> <button
                                        class="btn btn-danger mx-1">Dislike</button> <button
                                        class="btn btn-success">Share</button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="publisher-data">
                    <div class="row">
                        <div class="col-2">
                            <div class="channel-img" style="background-image: url('http://localhost:8080/users/publisher-img/{{thisVideo.publisher}}');">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="channel-detail">
                                <p><span class="channel-name">{{thisVideo.publisher}}</span><br><span
                                        class="channel-sub-count">N subscribers</span></p>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-lg btn-outline-success">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="recommendations-pane">
                <h6>Recommended</h6>
            </div>
        </div>
    </div>
</div>