.video-pane{
    padding: 0.5em;
}
.video-player{
    width:100%;
    height: 75vh;
    background-color: #000000;
}
.video-meta{
    text-align: left;
    padding-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dadada;
}

.views-date{
    text-align: left;
    color: gray;
}
.like-share{
    text-align: right;
}
.publisher-data{
    padding: 1em;
}
.channel-img{
    width:80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    padding: 5px;
    padding-right: 0;
    border-radius: 40px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #dadada;
    background-repeat: no-repeat;
}
.channel-detail{
    text-align: left;
}
.channel-name{
    font-weight: bold;
}
.channel-sub-count{
    color: gray;
}
.recommendations-pane{
    padding: 0.3em;
}