<div class="side-bar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Trending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Subscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Watch History</a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item">
            <a class="nav-link" href="#">Entertainment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Science</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Technology</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Art</a>
        </li>
    </ul>
</div>