<div class="container">
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="vid-preview" style="background-image: url('{{thisVideo.thumbnail}}');">

            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <form>
                <div class="form-group">
                    <label for="vidTitle">Title</label>
                    <input type="text" class="form-control" id="vidTitle" name="vidTitle" [(ngModel)]="vidTitle">
                </div>
                <div class="form-group">
                    <label for="vidDescription">Description</label>
                    <textarea class="form-control" name="vidDescription" id="vidDescription" rows="3"
                        [(ngModel)]="vidDescription"></textarea>
                </div>
                <div class="form-group">
                    <label for="vidCategory">Category</label>
                    <select class="form-control" id="vidCategory" name="vidCategory" [(ngModel)]="vidCategory">
                        <option value="arts">Arts</option>
                        <option value="cooking">Cooking</option>
                        <option value="diy">DIY</option>
                        <option value="education">Education</option>
                        <option value="electronics">Electronics</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="food">Food</option>
                        <option value="gaming">Gaming</option>
                        <option value="hobby">Hobby</option>
                        <option value="information">Informational</option>
                        <option value="money">Money</option>
                        <option value="news">News</option>
                        <option value="reviews">Reviews</option>
                        <option value="sports">Sports</option>
                        <option value="technology">Technology</option>
                        <option value="travel">Travel</option>
                        <option value="vlog">Vlogs</option>
                        <option value="other">Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="vidTags">Tags</label>
                    <input type="text" class="form-control" id="vidTags" name="vidTags" [(ngModel)]="vidTags">
                </div>
                <button type="submit" class="btn btn-primary" (click)="publishVid()">Publish</button>
            </form>
        </div>
    </div>
</div>