<div class="container-fluid">
    <h4>Recommended</h4>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="vid-card">
                <a [routerLink]="['/watch', thisVideo.id]">
                    <div class="vid-showcase" style="background-image: url('{{thisVideo.thumbnail}}'); background-position: center; background-size:cover; background-repeat: no-repeat;" (click)="watchVideo(thisVideo.id)">
                        <div class="vid-duration">{{thisVideo.duration}}</div>
                    </div>
                </a>
                <div class="vid-meta">
                    <div class="row">
                        <div class="col-2">
                            <div class="vid-channel-img" style="background-image: url('http://localhost:8080/users/publisher-img/{{thisVideo.publisher}}')">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="vid-card-details" (click)="watchVideo(thisVideo.id)">
                                <p><span class="video-card-title">{{thisVideo.title}}</span><br><span class="video-card-meta">{{thisVideo.publisher}}<br>2K Views</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="vid-card">
                <div class="vid-showcase" style="background-image: url('https://picsum.photos/id/1022/300/200'); background-position: center; background-size:cover; background-repeat: no-repeat;">
                    <div class="vid-duration">3.5</div>
                </div>
                <div class="vid-meta">
                    <div class="row">
                        <div class="col-2">
                            <div class="vid-channel-img">
                                <div class="text-center">
                                    <img src="https://picsum.photos/id/1025/200" style="width: 100%; height: 100%;"  alt="" class="rounded-circle">
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="vid-card-details">
                                <p><span class="video-card-title">Video Title</span><br>Publisher name<br>2K Views</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>