.vid-card{
    width:100%;
    height:15em;
    transition: 0.3s;
    cursor: pointer;
}
.vid-card .vid-showcase{
    height: 10em;
    background-color: #333333;
}
.vid-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}


.vid-duration{
    margin-left: auto;
    background-color: #000;
    border-radius: 2px;
    position: absolute;
    left: auto;
    top: auto;
    color: #fff;
    padding: 3px;
    z-index: 11;
}


.vid-card-details{
    padding-left: 10px;
}

.video-card-title{
    font-weight: bold;
}

.video-card-meta{
    color: gray;
}

.vid-meta{
    padding-top: 5px;
    width:100%;
    height:5em;
}
.vid-channel-img{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}