<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 login">
            <div class="card form-card">
                <h4>Welcome back..</h4>
                <div *ngIf="haveError" class="alert alert-danger" role="alert">
                    {{errorText}}
                </div>
                <form class="py-2">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address or Username</label>
                        <input type="email" [(ngModel)]="identifier" class="form-control" name="identifier" id="identifier" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input [(ngModel)]="password" type="password" name="password" class="form-control" id="password">
                    </div>
                    <button (click)="signin()" type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>