<div class="container mt-2">
    <div class="jumbotron">
        <div class="text-center">
            <h1 class="display-4">Upload Video</h1>
            <p class="lead">Drop your video files in .mp4 format or click the 'upload' button</p>
            <label class="btn btn-lg btn-info" *ngIf="!showProgress">
                Upload <input type="file" hidden accept=".mp4" (change)="fileUpload($event)">
            </label>
            <div *ngIf="showProgress">
                <div class="progress container">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                        aria-valuenow="{{upPercentage}}" aria-valuemin="0" aria-valuemax="100"
                        style="{{barPercentage}}"></div>
                </div>
                Progress {{upPercentage}}%
            </div>
            <div *ngIf="showProcessing">
                <div class="progress container">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                        style="width: 100%;"></div>
                </div>
                Processing video...
            </div>
        </div>
    </div>
</div>