<div class="container-fluid py-0 my-0 px-0">
    <div class="row no-gutters">
        <div class="col-2 d-none d-md-block">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <app-content></app-content>
        </div>
    </div>
</div>