<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Invids.in</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNav"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapseNav">
        <form class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control mr-sm-2" type="text" placeholder="Search Videos">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav" *ngIf="!isLoggedIn">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/signup']">Sign-up</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="isLoggedIn">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/studio']">Studio</a>
                    <a class="dropdown-item" [routerLink]="['/account']">My Account</a>
                    <a style="cursor: pointer;" class="dropdown-item" (click)="logout()">Logout</a>
                  </div>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" [routerLink]="['/upload']">Upload Video</a>
            </li>
        </ul>
    </div>
</nav>