<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 signup">
            <div class="card form-card">
                <h4>Nice move..</h4>
                <div *ngIf="haveError" class="alert alert-danger" role="alert">
                    {{errorText}}
                </div>
                <form class="py-2">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" [(ngModel)]="firstName" class="form-control" name="firstName" id="firstName"
                            aria-describedby="firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" [(ngModel)]="lastName" class="form-control" name="lastName" id="lastName"
                            aria-describedby="lastName" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" [(ngModel)]="username" class="form-control" name="username" id="username"
                            aria-describedby="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" [(ngModel)]="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="signUp()">Sign-up</button>
                </form>
            </div>
        </div>
    </div>
</div>